/* header {
    background-color: #e6e5ed;
    height: 100px;;
}

body {
    background-color: #e6e5ed;
} */


header {
    background-color: #cbcbd561;
    height: 100px;
}

body {
    background-color: #ccccd6;
}

